<p id="notice"><%= notice %></p>

<p>
  <strong>Time1:</strong>
  <%= @response.time1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @response.time2 %>
</p>

<p>
  <strong>Time3:</strong>
  <%= @response.time3 %>
</p>

<p>
  <strong>Time4:</strong>
  <%= @response.time4 %>
</p>

<p>
  <strong>Time5:</strong>
  <%= @response.time5 %>
</p>

<p>
  <strong>Time6:</strong>
  <%= @response.time6 %>
</p>

<p>
  <strong>Time7:</strong>
  <%= @response.time7 %>
</p>

<p>
  <strong>Time8:</strong>
  <%= @response.time8 %>
</p>

<p>
  <strong>Time9:</strong>
  <%= @response.time9 %>
</p>

<p>
  <strong>Time10:</strong>
  <%= @response.time10 %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @response.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @response.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @response.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @response.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @response.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @response.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @response.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @response.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @response.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @response.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @response.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @response.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @response.q13 %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
